# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Playwright
test-results/
playwright-report/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Environment
.env

# JetBrains
.idea/

# coverage
coverage/
